/dist/
/build/
/nbproject/private/
/src/com/elle/ProjectManager/database/servers.xml
/target/
/log.txt
/.data/
/classes/.data/
/classes/com/elle/ProjectManager/database/servers.xml
/classes/
/ProjectManager.jpr
/PM_Youzhi_log.txt
/CompIssuesTest.txt
/PM_Carlos_log.txt
/PM_Xiao_log.txt
/PortfolioManager/
/MANIFEST.MF
/splashImage.png